

}

h3 {
    text-align: center;
}





footer {
    display: flex;
    min-height: 420px;
    background-image: url("https://static1.purepeople.com/articles/8/42/78/68/@/6152123-cesar-d-anniversaire-pour-le-splendide-opengraph_1200-2.jpg");
    background-repeat: repeat-x;
    margin-top: 100px;
    object-fit: cover;
}

.imgProfile {
    padding: 15rem;
