{% extends "/admin/base.html.twig" %}
{# EXO 13/12/21 10:14:
        // Créez un moteur de recherche pour les livres avec :
        // 5 - (créez un formulaire html dans votre menu et récupérez le mot recherché dans la page de recherche) pour
        //     TROUVER LES LIVRES RELIES et LES AFFICHER #}
{# COMMENTAIRE 13/12/21 Moteur de recherche
La boucle for permet de trouver chaque livre dont le titre contient les valeurs de la requête dans le formulaire et
d'afficher ces titres#}

{% block main %}

    {%  for book in books %}

        <h3>{{book.title}}</h3>

    {%  endfor %}



{% endblock main%}