{% extends "base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/authors.css') }}">{% endblock stylesheets %}

{% block main %}
   <p>mise à jour bien effectuée</p>

{% endblock main%}